@model SchoolHelperDtos.AllGradeDto
@{
    ViewData["Title"] = "Grading";
    Layout = "~/Views/Shared/_logedInLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/css/grading.css")" rel="stylesheet" type="text/css" />
}
<section class="grade-form">
    <div class="container">
        <form action="Grading" method="post">
            <input type="text" style="display:none" id="name" value="@ViewBag.Message" name="key" />
            <div class="row">
                <div class="form-group col-md-8">
                    <label for="info">Information</label>
                    <input type="text" class="form-control" id="info" name="info" />
                </div>
                <div class="form-group col-md-4">
                    <label for="mark">Mark</label>
                    <input type="number" class="form-control" id="mark" name="mark" />
                </div>
                <div class="form-group"></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="birthday">Date:</label>
                    <div class="input-group">
                        <div class="col-third">
                            <input type="number"
                                   placeholder="DD"
                                   name="day"
                                   id="day"
                                   class="form-control" />
                        </div>
                        <div class="col-third">
                            <input type="number"
                                   placeholder="MM"
                                   name="month"
                                   id="month"
                                   class="form-control" />
                        </div>
                        <div class="col-third">
                            <input type="number"
                                   placeholder="YYYY"
                                   name="year"
                                   id="year"
                                   class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="grading-type">Grading type</label>
                    <div class="form-check">
                        <input class="form-check-input"
                               type="radio"
                               name="gradingtype"
                               id="exampleRadios1"
                               value="0"
                               checked />
                        <label class="form-check-label" for="exampleRadios1">
                            Homework
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input"
                               type="radio"
                               name="gradingtype"
                               id="exampleRadios2"
                               value="1" />
                        <label class="form-check-label" for="exampleRadios2">
                            Test
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input"
                               type="radio"
                               name="gradingtype"
                               id="exampleRadios3"
                               value="2" />
                        <label class="form-check-label" for="exampleRadios3">
                            Class Activity
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" onclick="AddGrade()">Add grade</button>
        </form>
    </div>
</section>
<section class="grade-list">
    <div class="container">
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Mark</th>
                    <th scope="col">Info</th>
                    <th scope="col">Grading type</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @if (Model.StudentGrades != null)
                    {
                        @foreach (var item in Model.StudentGrades)
                        {
                            <tr>

                                <td>@item.Mark</td>
                                <td>@item.Info</td>
                                <td>@item.grading</td>
                                <td>@item.Time</td>
                                <td>
                                    <a href="@Url.Action("Delete", "GradeController",new { item.Id, @ViewBag.Message  })">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        @if (Model.SubjectGrades != null)
                        {
                            @foreach (var item in Model.SubjectGrades)
                            {
                                <tr>

                                    <td>@item.Mark</td>
                                    <td>@item.Info</td>
                                    <td>@item.grading</td>
                                    <td>@item.Time</td>
                                    <td>
                                        <a href="@Url.Action("Delete", "GradeController",new { item.Id, @ViewBag.Message  } )">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</section>
@section Scripts {
    <script src="@Url.Content("~/js/grade.js")"></script>
}


